---
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { ucFirst } from "@utils/all";
import { getCollection } from "astro:content";
import semesters from "../../../data/semesters.json";
import subjects from "../../../data/subjects.json";
import Print from "@components/print.astro";

const gitBranch: string = process.env.NODE_ENV === "production" ? "master" : "dev";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const questionEntries = await getCollection("questions");

  const questionEntriesWithSubjects = questionEntries.map((question) => {
    const subjectSlug = question.slug.split("/")[0];
    const subject = subjects.find((subject) => subject.slug === subjectSlug);
    return { ...question, subject };
  });

  return questionEntriesWithSubjects.map((question) => ({
    params: { slug: question.subject!.slug, year: question.data.year },
    props: { question },
  }));
}

const { slug } = Astro.params;
const { question } = Astro.props;
const { Content } = await question.render();
---

<Layout title={ucFirst(question.data.year) + " | Questions | " + question.subject!.title}>
  <Container>
    <Sectionhead>
      <Fragment slot="title">{ucFirst(question.data.year)}</Fragment>
      <Fragment slot="desc">{question.subject!.title}</Fragment>
    </Sectionhead>
    <div class="mx-auto prose prose-lg mt-6">
      <Content />
      <hr />
      <Print />
      <div class="print:hidden">
        <p>Find any bugs or want to contribute? Help us improve this page.</p>
        <a
          href={`https://github.com/bsccsitnepal/bsccsitnepal/edit/${gitBranch}/src/content/questions/${slug}/${question.data.year}.md`}
          target="_blank"
          rel="noopener noreferrer">
          <i class="fa-light fa-pen-to-square"></i>
          <span class="pl-1">Edit this page in GitHub</span>
        </a>
      </div>
    </div>
  </Container>
</Layout>
