---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Notices">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Notices</Fragment>
      <Fragment slot="desc">Recent notices from TUIOST</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto" id="notice_wrapper">
        <li>
          <p class="text-center">No notices found.</p>
        </li>
      </ul>
    </main>
  </Container>
</Layout>

<script>
  // Fetch recent notices from TUIOST
  await fetch("https://scraper.bsccsitnepal.com/notice", {
    headers: { Accept: "application/json" },
  })
    .then((res) => res.json())
    .then((res) => {
      // Check if the response is valid
      if (res.statusCode !== 200) return console.error(res.message);

      // Get the notices
      const notices = res.data;

      // Get the notice wrapper
      const notice_wrapper = document.querySelector("#notice_wrapper");
      if (!notice_wrapper) return;

      // Clear the default notice
      notice_wrapper.innerHTML = "";

      // Loop through the notices
      const content = notices.map((notice) => {
        return `
        <li>
                <div class="grid gap-5 md:gap-10 items-center">
                  <div>
                    <span class="text-blue-600 uppercase tracking-wider text-sm font-medium">Notice</span>

                    <h2 class="text-2xl font-semibold leading-snug tracking-tight mt-1 ">
                      <a class="hover:text-gray-600" href=${notice.link} target="_blank">
                        ${notice.title}
                      </a>
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400"> ${notice.date} </span>
                      <span class="text-gray-400"> • </span>
                      <span class="text-gray-400"> ${notice.author}</span>
                    </div>
                  </div>
                </div>
              </li>
        `;
      });

      content.forEach((c) => (notice_wrapper.innerHTML += c));

      notice_wrapper.innerHTML += `
        <li>
          <p class="">Older notices can be found at <b><a href="https://iost.tu.edu.np/notices" class="underline hover:text-gray-600" target="_blank">https://iost.tu.edu.np/notices</a></b></p>
        </li>
        `;
    });
</script>
