---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Notices">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Notices</Fragment>
      <Fragment slot="desc">Recent notices from TUIOST</Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto" id="notice_wrapper">
        <li>
          <p class="text-center">No notices found.</p>
        </li>
      </ul>
    </main>
  </Container>
</Layout>
