---
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Image } from "astro:assets";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image src={heroImage} alt="hi" height={520} width={424} fetchpriority={"high"} />
  </div>
  <div>
    <h1 class="text-3xl lg:text-2xl xl:text-3xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welcome to
    </h1>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Bsc Csit Nepal
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">Simple & Ads-free CSIT Experience</p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link href="/semesters/" class="flex gap-1 items-center justify-center" rel="noopener">
        <i class="fa-light fa-book-blank text-white w-4 h-4 mx-2"></i>
         Browse Contents
      </Link>
      <Link
        href="/install"
        class="flex gap-1 items-center justify-center"
        rel="noopener"
        style="outline">
        <i class="fa-light fa-download w-4 h-4 mx-2"></i>
         Install Apps
      </Link>
    </div>
  </div>
</main>
