---
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Image } from "astro:assets";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Image src={heroImage} alt="hi" height={520} width={424} fetchpriority={"high"} />
  </div>
  <div>
    <h1 class="text-3xl lg:text-3xl xl:text-4xl font-bold lg:tracking-tight xl:tracking-tighter">
      Welcome to
    </h1>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Bsc Csit Nepal
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">CSIT resources at your fingertips.</p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="/semesters/"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <i class="fa-light fa-book-blank text-white w-4 h-4 mx-2"></i>
         Start Learning
      </Link>
      <button
        class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center"
        id="installButton"
        disabled>
        <i class="fa-light fa-mobile text-black w-5 h-5 mx-2"></i>
         Install PWA App
      </button>
    </div>
  </div>
</main>
