---

---

<button
  class="rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white border-2 border-black hover:bg-gray-100 text-black flex gap-1 items-center justify-center print:hidden"
  onclick="window.print()">
  <i class="fa-light fa-print text-black w-5 h-5 mx-2"></i>
   Print this page
</button>
